################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesktopChat/bin/Debug/net8.0-windows
/DesktopChat/obj
/DesktopChat/bin/Release/net8.0-windows/win-x64
/DesktopChat/publish
